<!DOCTYPE html>
<html>
<head>
  <title>Personal Timetabling</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>
<body class='app-layout'>

  <div id="topbar">
      <div id="logo">
        <h1>Personal Timetabling</h1>
      </div>

  </div>
  
    <div id="content"><%= yield %></div>


</body>
</html>
