<div class='scrollable'>
<div class='container'>

  <h1>Domain template "<%= @domain_template.name %>"</h1>
  
  <%# if @domain_template.domain_stack.is_a? String %>
    <pre><%= @domain_template.domain_stack.inspect %></pre>
  <%# else %>
    <%= render :partial => 'template_stack', :locals => {:stack => @domain_template.domain_stack} %>
  <%# end %>
  
  <h2>Intervals in +-10 days from now</h2>
  <p><%=@intervals_from %> - <%= @intervals_to %></p>
  <ul>
  <% @intervals.each do |i| %>
    <li><%= i.to_s %></li>
  <% end %>
  </ul>
  
</div>
</div>
