

<div class='scrollable'><div class='well' id='activity_definition_form_wrapper'>

<%= twitter_bootstrap_form_for @activity do |f| %>
<%= f.error_messages %>

<%= f.inputs 'General details' do %>
  <%= f.text_field :name, :class=>'input-block-level', :placeholder=>"Lunch, Meeting with boss, …" %>

  <%= f.text_area :description, :class=>'input-block-level', :placeholder=>"Lunch at Burger King with Jane", :rows=>5  %>
<% end %>

<%= f.inputs 'Domain template defintion' do %>
<p>Domain template describes possible time windows, in which activity occurences can be placed. If activity has repeating occurences, each occurence gets cropped part of the whole domain template to its period.</p>
  
  <%= f.fields_for :domain_template do |d| %>
    
    
    
  <% end %>
  

<% end %>

<%= f.inputs 'Activity occurences definition' do %>
  <%= f.fields_for :activity_definition do |ad| %>
  <p>Repeating makes for each period one occurence with domain masked by the period start and end. If domain template is empty in some of periods, no occurence will be placed in such period.</p>

  <%= ad.fields_for :period, ad.object.period do |p| %>
    <%= p.inline 'Repeat each ' do |p| %>
      <%= p.text_field :duration %>
      <%= p.select :unit, options_from_collection_for_select(Duration.units, :first, :last, p.object.unit) %>
    <% end %>
  <% end %>

  <%= ad.datetime_select :period_start, 'Starting with' %>
  
  
  <%= ad.text_field :periods_count, 'Up to the count' %>
  
  
  <%= ad.toggles '' do %>
    <% ad.check_box :regular, 'Regular occurences (maintain same start based on period)' %>
  <% end %>
  
  <% end %> 
<% end %> 

  <%= f.button %>
  
<% end %>




</div>
</div>